<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9402561-a2c7-4265-81f0-6fd777993265" Alias="203536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-05T12:44:40</CreateDate>
    <NodeName Default="203536" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m2sfbkoh/203536.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>