<?xml version="1.0" encoding="utf-8"?>
<Content Key="43c0f809-fba8-46d1-8f33-a248268561e3" Alias="Text Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2025-03-06T13:38:54</CreateDate>
    <NodeName Default="Text Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4fdb2ae3-a497-445f-b4aa-06fc5992b082">TextPage</Template>
  </Info>
  <Properties />
</Content>