p {
    margin: 0;
}

.editorguides-editor-controls > * {
  margin-right: 4px;
}

.editorguides-input,
.editorguides-editor {
  width: 85%;
  margin-bottom: 1rem;
}

.editorguides-cell--title {
  width: 30%;
}

.editorguides-cell--description {
  width: 50%;
}
