p {
    margin: 0;
}

.editorguides-editor-controls > * {
  margin-right: 4px;
}

.editorguides-input,
.editorguides-editor {
  width: 85%;
  margin-bottom: 1rem;
}

.editorguides-container .umb-rte {
  max-width: none;
}

.editorguides-cell--title {
  width: 30%;
}

.editorguides-cell--description {
  width: 50%;
}

.editorguides-cell--buttons {
  vertical-align: top;
}

.editorguides-btn--back,
.editorguides-controls--delete{
  margin-top: 16px;
}

.editorguides-btn--new {
  margin-bottom: 16px;
}
