
<div ng-controller="Umbraco.EditorGuides as vm">
  <div class="editorguides-container">
    <uui-box ng-if="!vm.editingModeEnabled && !vm.viewModeEnabled">
      <div slot="headline">Guides <span ng-if="vm.FriendlyDocTypeName">({{ vm.FriendlyDocTypeName }})</span></div>
      <uui-button label="New Guide" look="primary" ng-click="vm.toggleEditingMode()" style="margin-bottom: 16px;"></uui-button>

      <div class="editorguides-list-container">
        <uui-table ng-if="vm.CurrentGuides.length > 0">
          <uui-table-head>
            <uui-table-head-cell>Title</uui-table-head-cell>
            <uui-table-head-cell>Content</uui-table-head-cell>
            <uui-table-head-cell>Actions</uui-table-head-cell>
          </uui-table-head>
          <uui-table-row ng-repeat="guide in vm.CurrentGuides">
            <uui-table-cell>{{ guide.title }}</uui-table-cell>
            <uui-table-cell>{{ guide.content }}</uui-table-cell>
            <uui-table-cell>
              <uui-button-group>
                <uui-button look="primary" label="View" ng-click="vm.setViewMode(guide.id)"></uui-button>
                <uui-button look="secondary" label="Edit"></uui-button>
                <uui-button look="primary" label="Delete" color="danger"></uui-button>
              </uui-button-group>
            </uui-table-cell>
          </uui-table-row>
        </uui-table>

        <div ng-if="vm.CurrentGuides.length < 1">
          Nothing to see here... check back later.
        </div>
      </div>
    </uui-box>

    <uui-box headline="New Guide" ng-if="vm.editingModeEnabled">
      <uui-input label="Guide Title" id="editorguides-title" placeholder="Guide title..."></uui-input>
      <uui-textarea label="New Guide" id="editorguides-input" placeholder="New note..."></uui-textarea>
      <div class="editorguides-editor-controls">
        <uui-button label="Cancel" look="primary" color="danger" ng-click="vm.toggleEditingMode()"></uui-button>
        <uui-button label="Save" look="primary" ng-click="vm.saveGuide()"></uui-button>
      </div>
    </uui-box>

    <uui-box headline="{{ vm.CurrentGuide.title }}" ng-if="vm.viewModeEnabled">
      <p>{{ vm.CurrentGuide.content }}</p>

      <uui-button label="Back" look="primary" color="danger" ng-click="vm.returnToListingMode()"></uui-button>
    </uui-box>
  </div>
</div>
